<?xml version="1.0" encoding="UTF-8"?>
<configuration>

        <contextName>ButterFly_Red5</contextName>
        
        <jmxConfigurator contextName="ButterFly_Red5" />

        <appender name="BUTTERFLY" class="ch.qos.logback.core.FileAppender">
                <File>log/butterfly.log</File>
                <Append>false</Append>
                <Encoding>UTF-8</Encoding>
                <BufferedIO>false</BufferedIO>
                <ImmediateFlush>true</ImmediateFlush>
                <layout class="ch.qos.logback.classic.PatternLayout">
                        <Pattern>
                                %date [%thread] %-5level %logger{35} - %msg%n
                        </Pattern>
                </layout>
        </appender>
        <root>
                <appender-ref ref="BUTTERFLY" />
        </root> 
        <logger name="org.red5.core">
                <level value="INFO" />
        </logger>               
</configuration>